@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
* {
  font-family: Droid Sans Mono;
}

a {
  text-decoration: none;
}

.summary {
  display: inline;
  background-color: rgba(52, 152, 219,0.3);
  border-radius: 5px;
}

.summary > .sub {
  display: none;
}

.summary:hover > .sub {
  display: inline;
}

#topbox {
  color: white;
  text-align: center;
  font-size: 52px;
  height: 70px;
  background-color: transparent;
  margin-top: -8px;
  cursor: pointer;
}

#otherbox {
  color: white;
  font-weight: bold;
  margin-bottom: 0px;
  height: 0px;
  text-align: center;
  overflow: hidden;
  transition: color 0.2s ease-in 0s, height 0.3s ease-out 0s, margin-bottom 0.3s ease-out 0s;
}

#mainheader {
  margin-left: -8px;
  margin-right: -8px;
  background-color: black;
  box-shadow: 0 0 5px black;
  transition: box-shadow 0.2s ease-in;
}

#mainheader:hover {
  box-shadow: 0 0 10px black
}

#mainheader:hover > #otherbox {
  height: 20px;
  opacity: 1;
  margin-bottom: -20px;
}

body {
  background: white;
}
